<template>
	<v-toolbar fixed class="cyan">
		<v-toolbar-title class="mr-4">
			<router-link to="/">Music</router-link>
		</v-toolbar-title>
		<!-- <v-toolbar-items>
			<v-btn flat dark>
				Browse
			</v-btn>
		</v-toolbar-items> -->
		<v-spacer></v-spacer>
		<v-toolbar-item>
			<v-btn flat dark v-if="!$store.state.isUserLoggedIn">
				<router-link to="register">Sign Up</router-link>
			</v-btn>
			<v-btn flat dark v-if="!$store.state.isUserLoggedIn">
				<router-link to="login">Login</router-link>
			</v-btn>
			<v-btn  v-if="$store.state.isUserLoggedIn" flat  dark @click="logout">
        		Log Out
      		</v-btn>
		</v-toolbar-item>
	</v-toolbar>
</template>

<script>
	export default{
		methods:{
			logout () {
      			this.$store.dispatch('setToken', null)
      			this.$store.dispatch('setUser', null)
      			this.$router.push({
        			name: '/'
      			})
    }
		}
	}
</script>

<style scoped>
</style>