<template>
  <v-app>
      <v-content>
  <v-container fluid>
    <v-layout column>
      <v-flex xs12>
        <div class="resultContainer">
          <v-layout v-bind="layoutAttributes">
            <div class="item elevation-5" v-for="item in artist">
            <v-img
                  :src="item.image[2]['#text']"
                  :lazy-src="item.image[2]['#text']"
                  aspect-ratio="1"
                  class="grey lighten-2"
                ></v-img>
                {{item.name}}
            </div>
          </v-layout>
        </div>
      </v-flex>
      <v-flex xs12>
        <v-layout row xs12 wrap>
          <v-flex xs12 md4>
            <v-layout column>
              <v-radio-group v-model="flexDirection">
                <v-radio
                  v-for="n in flexDirectionAvailable"
                  :key="n"
                  :label="n === '' ? 'Nothing' : n"
                  :value="n"
                  :hide-details="false"
                ></v-radio>
               <!--  <input type="radio" id="one" value="row">
               <label for="row">row</label>
               <input type="radio" id="two" value="column">
               <label for="column">column</label> -->
              </v-radio-group>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</v-content>
</v-app >
      
</template>
<script>
  import ListService from '@/services/ListService'
  export default {
    data () {
      return {
        artist: [],
        alignmentsAvailable: ['align-center', 'align-end', 'align-space-around', 'align-space-between', 'align-start', ''],
        alignment: 'align-center',
        alignmentsContentAvailable: ['align-content-center', 'align-content-end', 'align-content-space-around', 'align-content-space-between', 'align-content-start', ''],
        justifyAvailable: ['justify-center', 'justify-end', 'justify-space-around', 'justify-space-between', 'justify-start', ''],
        justify: 'justify-center',
        
        flexDirectionAvailable: ['row', 'column'],
        flexDirection: 'row',
        fillHeight: true
      }
    },
    computed: {
      layoutAttributes () {
        return {
          [this.alignment]: true,
          [this.justify]: true,
          [this.flexDirection]: true,
          reverse: this.reverse,
          'fill-height': this.fillHeight
        }
      }
    },
    methods: {
      formatAttributes (attributes) {
        const attributeArray = []
        for (const Key in attributes) {
          if (!attributes.hasOwnProperty(Key) || Key === '' || attributes[Key] === false) continue
          attributeArray.push(Key.trim())
        }
        return `<v-layout ${attributeArray.join(' ')}/>`
      },
      async loadlist(){
        try{
          const response = await ListService.loadTop20();
          this.artist = response.data.topartists.artist
        }catch(err){

        }
      }
    },
    mounted(){
      setTimeout(()=>{
        this.loadlist();
      }, 2000)
    }

  }
</script>

<style lang="css" scoped>
  >>>.resultContainer {
    height: 350px;
  }
  >>>.item {
    min-height: 50px;
    min-width: 80px;
    margin: 10px;
  }
</style>