<template>
  <v-layout column>
    <v-flex xs6>
      <div class="white elevation-2">
        <v-toolbar flat dense class="cyan" dark>
          <v-toolbar-title>
            Login
          </v-toolbar-title>
        </v-toolbar>

        <div class="pl-4 pr-4 pt-2 pb-2">
          <v-text-field label="Email" v-model="email"></v-text-field>
          <v-text-field label="Password" type="password" v-model="password"></v-text-field>
          <!-- <input type="email" name="email" placeholder="e-mail"><br> -->
          <!-- <input type="password" name="password" v-model="password" placeholder="password"><br> -->
          <div class="error" v-html="error"/><br>
          <v-btn class="cyan" @click="login">Login</v-btn class="cyan">
        </div>
      </div>
    </v-flex>
  </v-layout>
</template>
<script>
  import AuthenticationService from  '@/services/AuthenticationService'
  export default { 
    data() { 
      return { 
        email:"example@example.com",
        password:"xxxx",
        error: null
      } 
    },
    
    methods:{
      async login(){
      try {
        const response = await AuthenticationService.login({
          email: this.email,
          password: this.password
        })
        this.$store.dispatch('setToken', response.data.token)
        this.$store.dispatch('setUser', response.data.user)
        this.$router.push({
          name: 'list'
        })
      } catch (error) {
        this.error = error.response.data.error
      }
    }
    },
    
  }
</script>
<style scoped>
</style>
